{% extends "base.html" %}
{% block title %}Suppliers{% endblock %}
{% block content %}
<h1 style="color: #c02420; font-size: 40pt;"><b>Suppliers</b></h1>
    <div class="btn-group" role="group" aria-label="Button group">
        <a href="/add_supplier" class="btn btn-primary">Add Supplier</a>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Supplier ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in supplier %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.contact_number }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Item Actions">
                        <a href="/edit_supplier/{{ item.id }}" class="btn btn-warning">Edit</a>
                        <a href="/delete_supplier/{{ item.id }}" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}